
//Colors Scheme
$color-granite-gray: #686963;
$color-taupe-gray: #91918D;
$color-gray: #BABAB8;
$color-jelly-bean: #E56353;
$color-salmon: #E97F72;
$color-pastel-pink: #F0A9A1;
$color-white: #FFF;
$color-snow: #FAFAFA;
$color-quick-silver: #A0A0A0;

//Fonts
// fonts
$raleway: 'Raleway',
sans-serif;
$raleway-extra-light: 200;
$raleway-regular: 400;
$raleway-bold: 700;

$font-size-xx-large: 100px;
$font-size-x-large: 70px;
$font-size-large: 50px;
$font-size-l-medium: 40px;
$font-size-xl-medium: 30px;
$font-size-medium: 18px;

$primary-font: $raleway;
$primary-font-extra-light: $raleway-extra-light;
$primary-font-regular: $raleway-regular;
$primary-font-bold: $raleway-bold;
