.section-about {
    background-color: $color-jelly-bean;
    color: $color-white;
    font-family: $raleway;
    font-size: $font-size-large;
    font-weight: $raleway-bold;
    text-align: center;
    padding: 70px;
    text-transform: uppercase;
}